@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
/* @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap); */
/* ==========================================================================
Typography
========================================================================== */
.hero {
  font-family: "Monsterrat", sans-serif;
  padding-top: 25px;
}

p {
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 40px;
  font-weight: 300;
  color: #3D4351; }

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3D4351; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 15px;
  color: #3D4351;
  text-transform: uppercase;
  font-weight: 500; }

.btn {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase; }

.btn:hover {
  color: #333;
  /* border-color: #c8af3a; */
  /* background-color: #c8af3a;  */
}

.btn-accent { float: left;}

.btn-white {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  background-color: #fbd84a;
  border-color: #fbd84a;
}

.btn-fill {
  font-weight: 700;
  color: #ffffff;
  border: solid 2px #555555;
  border-radius: 16px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #555555; }

.btn-fill:hover, .btn-fill:focus {
  color: #fff;
  /* background-color: #616161; */
  /* border-color: #616161;  */
}

.btn-small {
  padding: 8px 40px; }

.btn-large {
  padding: 12px 30px; }

.btn-margin-right {
  float: left;
  margin-right: 20px; }

section.intro, section.features-extra, section.sign-up {
  background: #fff; }

/* section.features, section.blog-intro, section.blog {
  background: #F3F4F8; } */

/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
  content: "";
  display: table;
  clear: both; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

a {
  color: #fff;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }

a:hover, a:focus {
  color: #fff;
  text-decoration: none; }

body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: rgba(28, 54, 83, 0.6);
  -webkit-text-size-adjust: 100%; 
}

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.section-padding {
  padding: 120px 0; }


@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }
.floating-logo {
  -webkit-animation-name: floating-logo;
          animation-name: floating-logo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

/* @-webkit-keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } } */
/* ==========================================================================
Waypoinsts
========================================================================== */
/* ==========================================================================
Navigation
========================================================================== */

/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 100vh;
  /* background: linear-gradient(to right, rgb(255, 230, 0), rgba(255, 230, 0, 0.226)), url("../img/fasdeco-bg.jpeg") center center; */
  background: linear-gradient(90deg, rgb(220 187 33) 14%, rgb(230,201,0) 43%, rgba(255,220,0,0.06066176470588236) 100%), url("../img/fasdeco-bg.jpeg");
  background-position: right;
  background-size: cover;
  position: relative; 
}
  .hero .down-arrow a {
    color: #fff; }
  .hero h1 {
    color: #ffffff;
    text-shadow: #000000 2px 2px 4px;
    margin-bottom: 40px; }
  .hero p.intro {
    color: #fff;
    text-shadow: #000000 1px 1px 2px;
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 40px; 
    /* float: left; */
    text-align: left;
  }
  .hero .hero-content {
    padding-top: 13%; }
  
    .hero_list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 40px;
    }
  
    .hero_list li {
    color: #fff;
    text-shadow: #000000 2px 2px 4px;
    font-size: 18px;
    margin-left: 12px;
    margin-right: 12px;
  }

.navigation {
  /* -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; */
  /* position: fixed; */
  top: 0;
  width: 100%;
  /* z-index: 999;  */
}

.fixed {
  /* position: fixed;
  top: 0; */
  /* background-color: #232731;
  z-index: 999;
  width: 100%;  */
}

header {
  padding: 50px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 1170px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
  header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px; }
    header a.login {
      
      font-size: 20px;
      margin-right: 20px; }
  header .logo {
    display: inline-block; }
  header ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0; }
    header ul.primary-nav li {
      display: inline; }
      header ul.primary-nav li a {
        color: #fff;
        padding-right: 25px; }
        header ul.primary-nav li a:hover {
          color: #FF5274; }
      header ul.primary-nav li:last-child a {
        padding-right: 0px; }
        .member-actions {
          display: flex;
  flex-direction: row;
        }
  header ul.member-actions li {
    display: inline;
     }
    header ul.member-actions li a {
      /* color: #ce1e1e; */
      color: #363636;
      font-weight: 400;
      text-shadow: #969696 2px 2px 3px; }
      header ul.member-actions li a:hover {
        color: #acacac; }
  header .header-nav {
    display: inline-block; }
  header .member-actions {
    /* vertical-align: middle;
    display: inline-block; */
    position: absolute;
    right: 0;
    top: 52px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

            

.down-arrow {
  color: #616161;
  font-size: 60px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

/* ==========================================================================
Intro
========================================================================== */
.intro span.icon {
  font-size: 40px;
  color: #FF5274;
  font-weight: bold; }

.intro-icon {
  display: inline-block;
  vertical-align: top;
  /* padding: 6px 0 0 0; */
  /* margin-right: 20px; */
  margin-bottom: 5px;
  -webkit-transition:0.7s linear;
  transition:0.7s linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.intro-icon svg {
  width: 100px;
}

.intro-icon:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.intro-content {
  display: inline-block;
  width: 80%; 
}

.intro-content p {
  font-size: 18px;
}  

.intro-feature {
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}

/* ==========================================================================
Features-stack
========================================================================== */
.features {
  position: relative; }
  .features p {
    margin-bottom: 0;
    padding-bottom: 0; }
  .features h3 {
    margin: 0 0 20px 0; }
  .features span.icon {
    font-size: 35px;
    color: #FF5274;
    font-weight: bold; }
  .features .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
    width: 35px; }
  .features .feature-content {
    display: inline-block;
    width: 75%; }
  .features .intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px; }
  .features .intro-content {
    display: inline-block;
    width: 80%; }
  .features ul.features-stack {
    margin-top: 50px; }
  .features ul.features-stack li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA; }
  .features ul.features-stack li:last-child {
    padding-bottom: 0px;
    border-bottom: none; }
  .features .ipad-wrap {
    width: 706px;
    height: 1002px;
    background: url("../img/ipad-device.png") no-repeat center center;
    /* z-index: 1;  */
  }


/* ==========================================================================
.features-extra
========================================================================== */
.features-extra {
  position: relative;
  /* z-index: 3;  */
}
  .features-extra .btn {
    margin-top: 20px; }
  .features-extra .macbook-wrap {
    position: absolute;
    width: 916px;
    height: 540px;
    background: url("../img/macbook-pro.png") no-repeat center center;
    top: 114px;
    /* z-index: 4; */
    left: 50%; }

/* ==========================================================================
.blog-intro
========================================================================== */
/* .blog-intro {
  padding-top: 160px; }
  .blog-intro h3 {
    margin-bottom: 70px; }
  .blog-intro .leftcol {
    padding-right: 100px;
    border-right: solid 1px #E6E9EA; }
  .blog-intro .rightcol {
    padding-left: 100px; } */

/* ==========================================================================
.blog
========================================================================== */
/* .blog {
  padding-bottom: 120px; }
  .blog img {
    width: 100%;
    height: auto;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
  .blog h2 {
    font-size: 11px;
    color: #ACB1B4;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 35px; }
  .blog .btn {
    margin-top: 20px; }
  .blog .blog-img-wrap {
    position: relative;
    overflow: hidden; }
    .blog .blog-img-wrap .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0; }
    .blog .blog-img-wrap i {
      color: #fff;
      font-size: 20px;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 25px;
      right: 35px; }
  .blog .blog-img-wrap:hover img, .blog .blog-img-wrap:focus img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .blog .blog-img-wrap:hover .overlay, .blog .blog-img-wrap:focus .overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
  }
  .blog figcaption i {
    margin-left: 5px;
    font-size: 15px; }
  .blog figcaption a.blog-post-title {
    color: rgba(28, 54, 83, 0.6); }
  .blog figcaption a.blog-post-title:hover, .blog figcaption a.blog-post-title:focus {
    color: #3D4351; } */

/* ==========================================================================
.testimonial-slider
========================================================================== */
/* .testimonial-slider {
  background: url("../img/testimonials-bg.jpg") no-repeat center center;
  background-size: cover; }
  .testimonial-slider .avatar {
    width: 82px;
    height: 82px;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #fff;
    background-color: #fff; }
    .testimonial-slider .avatar img {
      width: 82px;
      height: auto; }
  .testimonial-slider h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    margin: 30px 0; }
  .testimonial-slider p {
    color: #ACB1B4;
    text-transform: uppercase;
    letter-spacing: 2px; } */

/* ==========================================================================
To top
========================================================================== */
.to-top {
  height: 60px;
  background-color: #495061; }
  .to-top .to-top-wrap {
    height: 60px;
    width: 70px;
    position: absolute;
    right: 0;
    text-align: center; }
    .to-top .to-top-wrap a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.15); }
    .to-top .to-top-wrap a:hover, .to-top .to-top-wrap a:focus {
      background-color: rgba(0, 0, 0, 0.4); }
    .to-top .to-top-wrap i {
      font-size: 30px;
      line-height: 55px; }
  .to-top .row {
    position: relative; }

/* ==========================================================================
Footer
========================================================================== */
footer {
  background-color: #3D4351;
  position: relative; 
}
  footer p {
    color: #ACB1B4;
    font-size: 13px; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: #FF5274; }
  footer ul.footer-group {
    border-top: solid 1px #4E566C;
    padding-top: 25px;
    margin-bottom: 45px; }
  footer ul.footer-group li {
    display: inline-block; }
  footer ul.footer-group li a {
    font-size: 13px;
    text-transform: uppercase; }
  footer ul.footer-group li a:hover {
    color: #FF5274; }
  footer ul.footer-group li {
    margin-right: 30px; }
  footer ul.footer-group li:last-child {
    margin-right: 0; }
  footer span.fa-heart {
    color: #ff415c;
    font-size: 15px;
    margin: 0 2px; }
  footer .social-share {
    position: absolute;
    background-color: #373D4A;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 142px 0 0 70px; }
    footer .social-share p {
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 10px; }
    footer .social-share a.twitter-share {
      height: 60px;
      width: 60px;
      background-color: #1AB4EF;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center;
      margin-right: 20px; }
    footer .social-share a.twitter-share:hover, footer .social-share a.twitter-share:focus {
      background-color: #1590BF; }
    footer .social-share a.facebook-share:hover, footer .social-share a.facebook-share:focus {
      background-color: #324C85; }
    footer .social-share a.facebook-share {
      height: 60px;
      width: 60px;
      background-color: #3B5898;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center; }
    footer .social-share a {
      color: #fff; }
    footer .social-share a:hover {
      color: #fff; }
    footer .social-share a i {
      margin-top: 20px; }
  footer .footer-links {
    margin: 120px 0 120px 0; }

/* ==========================================================================
Icon font (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */
@font-face {
  font-family: 'et-line';
  src: url("../fonts/et-line.eot");
  src: url("../fonts/et-line.eot?#iefix") format("embedded-opentype"), url("../fonts/et-line.woff") format("woff"), url("../fonts/et-line.ttf") format("truetype"), url("../fonts/et-line.svg#et-line") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'et-line';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/



  .fasdeco-video {
    text-align: center;
    font-family: "Monsterrat", sans-serif;
  }

  .fasdeco-video h3 {
    font-weight: 600;
    font-size: 28px;
    /* margin-bottom: 4%; */
  }

  .get-sale-box {
    /* margin: 0px 100px 0px 100px; */
    padding: 10px 10px;
    border: 5px solid #fbd84a;
  }

  .get-sale-box-content {
    padding-left: 30px;
  }

  .get-sale-title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 14px;
  }

  .get-sale-date {
    font-size: 20px;
    font-weight: 400;
  }

  #fname, #lname {
    border-radius: 40px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid rgb(165, 165, 165);
  }

  #get-sale-button, #i-want-button{
    color: #000000;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 30px;
    /* margin-top: 24px; */
    /* height: 50px; */
    /* bottom: 0; */
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FCD720;
  }

  .get-sale-form {
    display: flex;
    flex-direction: row;
  }

  .fname-set, .lname-set, .get-sale-button-set {
    margin-right: 14px;
  }
/* 
  .slider-item-image1 {
    background: url(/img/slider-img-1.jpg) 50% 50% no-repeat; 
    width: 250px;
    height: 250px;
  } */



  .carousel-item-img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    float: left;
    margin-left: 0;
  }

  .carousel-item-content {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .carousel-item-content form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* .i-want-button-set {
    margin-top: 8px;
  } */
  .i-want-form-set {
    margin-right: 14px;
  }

  .sliders .container{
    background: #c9c9c9;
  }
 
  .about-section {
    background: url("../img/map1.png");
    /* background-size: cover; */
    height: 530px;
    margin-bottom: 40px;
  }

  .about-section-card {
    background: #fff;
    width: 386px;
    height: 530px;
    /* border: 1px solid #000000; */
    margin-left: 148px;
  }

  .about-section-card-content {
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 30px;
  }

  .about-section-card-content h3 {
    font-weight: 600;
    font-size: 28px;
  }

  .about-section-card-content p {
    font-weight: 400;
    font-size: 16px;
  }

  .about-section-card-content ul li {
    font-weight: 400;
    font-size: 18px;
  }

  .header-logo {
    width: 55%;
  }


  .gallery-cell {
    width: 100%;
    /* height: 80%; */
    /* margin-left: 20px;
    margin-right: 20px; */
    /* margin-right: 10px; */
  }

  .gallery:after {
    content: 'flickity';
    display: none; /* hide :after */
  }
  
  @media screen and ( min-width: 1028px ) {
    /* half-width cells for larger devices */
    .gallery-cell { 
      width: 100%; 
      /* margin-left: 20px;
      margin-right: 20px; */
    }
    .gallery:after {
      content: '';
    }
  }

  @media screen and (max-width: 769px) {
    .gallery-cell {
      /* width: 100%; */
    }
  }

  #youtube {
    /* display: flex;
    flex-direction: row;
    margin-bottom: 40px; */
    /* position: absolute;
    top: 35px;
    left: 0; */
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin-bottom: 30px; */
    /* background: linear-gradient(to bottom, rgba(17, 17, 17, 0.678), rgba(56, 56, 56, 0.473)), url("../img/travertin2.jpg") center center; */
    /* background-size: cover; */
    background: #fff;
    /* height: 100vh; */
    margin-bottom: 5%;
  }

  .youtube-icon,
  .subscribe-text {
    vertical-align: middle;
    display: inline-block;
  }

  .subscribe-text {
    margin-left: 14px;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
  }

  .subscribe-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
  }

  .subscribe-button svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    /* margin: 0 auto; */
  }

  .subscribe-button a {
    color: #555555;
    font-weight: 600;
    font-size: 26px;
}
  

  .about {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .about-left {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
  

  .about-left h3 {
    font-weight: 600;
  }

  .about-left p{
    font-size: 18px;
    font-weight: 400;
  }

  .karta {
    text-align: right;
  }

  .nav-link {
    color: #ffffff !important;
    font-weight: 600;
    font-size: 20px;
    /* padding: 15px 20px; */
  }

  #navbar {
    z-index: 99999;
    /* overflow: hidden; */
    background-color: #333;
    /* float: right; */
  }

  /* .navbar-right {
    float: right;
    margin-right: 15px;
  } */

  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .navbar-moy {
    /* background-color: #141414; */
    z-index: 999;
    width: 100%;
    /* float: left; */
    /* position: fixed; */
    display: flex;
    flex-direction: row;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .intro-title {
    text-align: center;
  }

  .intro-title h2 {
    margin-bottom: 80px;
  }

  #footer {
    padding-left: 10px;
    padding-right: 10px;
    background: #141414;
  }

  .footer-social-media {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
  }

  .footer-social-media li {
    margin-right: 10px;
    font-size: 14px;
  }

  .footer-social-media svg {
    fill: #FFFFFF;
    width: 40px;
    height: 40px;
    /* opacity: 0.7; */
    transition: 0.4s;
  }

  .footer-social-media svg:hover {
    /* opacity: 1; */
    fill: #fbd84a;
    /* width: 41px;
    height: 41px; */
  }

  .designed-by p {
    padding-top: 25px;
    float: right;
    font-size: 14px;
    color: #ffffff;
  }

  .gallery-cell-full {
    width: 103%;
    text-align: center;
  }

  .before-after-img {
    width: 700px;
    height: 500px;
  }

  #whatsapp-button {
    fill: #40C351;
  }

  .outercircle {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 2px 3px 6px 0 rgb(0, 0, 0);
    position: fixed;
    z-index: 999;
    opacity: 0.9;
    bottom:35px;
    left: 55px;
    transform: scale(1.2);
    animation: outerbeat 1.5s infinite linear forwards;
  }

@keyframes outerbeat {
    0% {transform: scale(1.2);}
    10% {transform: scale(1.2);}
    50% {transform: scale(1.3);}
    60% {transform: scale(1.25);}
    75% {transform: scale(1.3);}
}

#beforeafter {
  margin-top: 100px;
}

.centered {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

#arrow-down {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
}

.carousel {
  /* background: #FAFAFA; */
  margin-bottom: 40px;
}

.carousel-img {
  width: 800px;
  height: 600px;;
  /* top: 0; */
  bottom: 0;
  object-fit: contain;
}

.carousel-cell {
  width: 100%;
  height: 80vH;
  /* margin-right: 10px; */
  /* background: #8C8; */
  /* border-radius: 5px; */
  /* counter-increment: carousel-cell; */
  text-align: center;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /* content: counter(carousel-cell); */
  line-height: 200px;
  font-size: 80px;
  /* color: white; */
}

/* .carousel-nav .carousel-cell {
  height: 80px;
  width: 100px;
} */

.carousel-cell-nav {
  height: 20vh;
  width: 20vh;
  /* margin-right: 5px;
  margin-left: 5px; */
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  /* background: #ED2; */
}

.carousel-nav-img {
  width: 60%;
  height: 60%;
}


/* Modal Forma Svyazi */
.ch {
  margin-left: 10px;
}

.form-control {
  width: 90%;
  outline: none !important;
  box-shadow: none;
}

.modal-header {
  background: #272727;
}

.modal-title {
  color: rgba(255, 220, 0, 1);
  margin-left: 37%;
}

.sendButton {
  border-radius: 14px;
  background-color: #272727;
}

.sendButton:hover {
  background-color: rgba(255, 220, 0, 1);
  color: #272727;
}

.custom-form {
  display: flex;
  flex-direction: row;
}


.custom-form label, .custom-form input {
  vertical-align: middle;
    display: inline-block;
}

.custom-form input {
  width: 100%;
  margin-left: 5px;
  border: none;
  height: 35%;
  border-bottom: 1px solid rgb(44, 44, 44);
  border-radius: 0;
  outline: none;
  font-weight: 400;
  color: rgb(22, 22, 22);
}

.custom-form input:focus {
  border-bottom: 2px solid rgb(44, 44, 44); 
}

.custom-form-label {
  font-weight: 400;
  color: rgb(54, 54, 54);
  display: block;
  position: relative;
  padding-left: 32px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-modal {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

/* Modal's custom checkbox */
.inpu {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid rgb(37, 37, 37);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.inpu:checked ~ .checkmark:after {
  display: block;
}

.custom-form-label .checkmark:after {
  left: 8px;
  top: 2px;
  width: 7px;
  height: 14px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


#topcontrol {
  z-index: 999; 
  width: 60px; 
  height: 60px; 
  background-color: #fbd84a; 
  border-radius: 100%;
}

.submit-b {
  /* float: right; */
  text-align: center;
  width: 100%;
}

.facade-type {
  display: flex;
  flex-direction: row;
}


.fasdeco-card {
  /* display: inline-block; */
  box-shadow: 0 2px 6px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
  margin: 20px;
  position: relative;
  margin-bottom: 50px;
  transition: all .2s ease-in-out;
  text-align: center;
  margin: 10px;
  /* width: 300px; */
}

.fasdeco-card:hover {
  /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /* margin-bottom: 54px; */
}

.card-body p{
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 2px;
  line-height: 10px;
}

.card-body {
  line-height: 2px;
  height: 50px;
}

.card-body h3 {
  font-size: 20px;
}

.order-btn {
  width: 140px;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
  font-size: 14px;
  color: #ffffff;
  outline: 0 !important;
}

.order-btn:hover {
  background-color: rgb(220 187 33); 
  /* color: #c8af3a; */
  border-color: #c8af3a;
  outline: 0;
}

.order-btn:focus, .order-btn:active {
  /* background-color: #c8af3a;  */
  /* color: #c8af3a; */
  /* border-color: #c8af3a; */
  outline: 0 !important;
}

#price-list {
  margin-bottom: 80px;
}

.tovar {
  text-align: center;
}

.card-price {
  height: 45px;
}

.card-price p {
  margin-top: 30px;
}
